body {
    background: black;
    text-align: center;
    color: white;
}

.chips {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.chip1{
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.chip2{
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.chip3{
    background-color: blue;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
}
.chip4{
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
}
.chip5{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
}